.nav-bar-outer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: lightblue;
    padding: 5px; 
}

#logo {
    cursor: pointer;
}

.nav-bar-links {
    list-style: none;
}

.nav-bar-links li {
    display: inline-block;
    padding: 0px 20px; 
}

.button-contact {
    padding: 5px 15px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer;
    transition:  all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
}

.button-contact:hover {
    background-color: rgb(192, 215, 255);
}

li, a, button {
    font-weight: 500;
    text-decoration: none;
}